main{
    background-color: rgb(0, 140, 255);
    padding-top: 10px;
    height: 1100px;
    text-align: center;
    padding-bottom: 0px;
}
header{
    background-color: rgb(160, 160, 160);
    padding-bottom: 0px;
    margin: 0%;
    text-align: center;
}
footer{
    background-color: rgb(160, 160, 160);
    float: none;
    height: 100px;
    padding-top: 0px;
}
#logo{
    float: left;
    height: 200px;
}
#logo2{
    height: 200px;
}
h1{
    padding-top: 100px;
    padding-left: 535px;
    padding-right: 535px;
    margin: 0%;
    float: left;
    text-decoration: underline;
}
body{
    margin: 0%;
    background-color: rgb(0, 140, 255)
}
h2{
    padding-bottom: 20px;
    padding-right: 25px;
    text-decoration: underline;
}
#noticia1{
    height: 200px;
}
#estadio{
    height: 170px;
}
.container {
    width: 50%; 
    margin: 0 auto; 
    display: block; 
}
#jogo{
    height: 200px;
}
hr{
    text-align: left;
    width: 90%;
    size: 10px;
    color: black;
}
a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}
  
a:hover {
    text-decoration: underline;
    color: rgb(0, 0, 0);
}  
a:active {
    color: rgb(0, 0, 0);
}
.linha{
    width: 100%;
    background-color: black;
    height: 2px;
}